.Pagination{
    margin: 6em auto;
}

.Pagination > .container{
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: center;
}

.Pagination > .container .btn{
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
    padding: 0.5em 1em;
    color: var(--textColor);    
}

.Pagination > .container .btn:hover{
    background-color: var(--mainColor);
}

.Pagination > .container .pages > div{
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.Pagination > .container .pages .pageNumber{
    width: 2.5em;
    height: 2.5em;
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Pagination > .container .pages .current{
    background-color: var(--mainColor);
}

.Pagination > .container .pages .pageNumber:hover{
    background-color: var(--mainColor);
    color: var(--textColor);
}

.Pagination > .container .pages .interval:hover{
    background-color: var(--backgroundColor);
    cursor: default;
}

@media screen and (max-width: 400px) {
    .Pagination > .container{
        gap: 0;
    }
    
}