.Header{
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 1.5em 0;
}

.Header > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header > .container img{
    width: 120px;
    user-select: none;
}

.Header > .container > div{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1em;
}

.Header > .container > div .theme{
    padding: 0.5em;
    background-color: var(--mainColor);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2em;
}

.Header > .container > div .theme svg{
    font-size: 1em;
    cursor: pointer;
}

.Header > .container > div a{
    text-decoration: none;
    user-select: none;
}
