.CompareCards{
    margin: 2em 0;
}

.CompareCards > .container{
    display: flex;
    gap: 1em;
    justify-content: space-between;

    background-color: var(--mainColor2);
    padding: 1em 2em;
    border-radius: 12px;
}

.CompareCards > .container .input{
    height: calc(825px * 0.35);
    width: calc(600px * 0.35);
    background-color: var(--mainColor);
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-size: cover;
}

.CompareCards > .container .input .inputInfo{
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    padding: 0 1em;
}

.CompareCards .container .dragInfo{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.CompareCards .container .compareInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CompareCards .container .compareInfo header{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 3em;
    align-items: center;
    margin-bottom: 1.5em;
}

.CompareCards .container .compareInfo header p{
    font-weight: 700;
    font-size: 1.2em;
    text-align: center;
}

.CompareCards .container .compareInfo header p:nth-of-type(1){
    text-align: right;
}

.CompareCards .container .compareInfo header p:nth-of-type(2){
    text-align: left;
}

.CompareCards .container .compareInfo header img{
    width: 2em;
}

.CompareCards .container .compareInfo .details{
    height: 100%;
    overflow-y: auto;

    display: grid;
    align-items: center;
    gap: 0em 3em;
    grid-template-columns: 1fr auto 1fr;
    justify-content: center;
    text-align: center;
}

.CompareCards .container .compareInfo .details .lineInfo{
    font-weight: 600;
    text-transform: uppercase;
}

.details .headerText{
    font-weight: 700;
    font-size: 1.2em;
}

.details img{
    width: 2em;
}