.Search{
    margin: 1em 0;
}

.Search > .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

.Search > .container form{
    width: 20em;
    display: flex;
    align-items: center;
    gap: 0.3em;
    border: 1px solid #ABABAB;
    border-radius: 36px;
    padding: 0 0.5em;
}

.Search > .container form input{
    width: 100%;
    height: 3em;
    padding: 0.5em;
    margin-left: 0.7em;
    border: none;
    outline: none;
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

.Search > .container form input::placeholder{
    color: var(--textColor2);
}

.Search > .container form button{
    border-radius: 100%;
    border: none;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mainColor);
    cursor: pointer;
}

.Search > .container form button svg{
    color: var(--textColor);
}

.Search > .container .filter{
    display: flex;
    align-items: center;
    gap: 2em;

    background-color: var(--mainColor2);
    padding: 0.5em 1em;
    border-radius: 12px;
}

.Search > .container .filter .compare{
    padding: 0.5em 1em;
    border-radius: 12px;
    cursor: pointer;
    user-select: none;
}

.Search > .container .filter .compare p{
    white-space: nowrap;
}

.Search > .container .filter .compare:hover{
    background-color: var(--mainColor);
}

.Search > .container .filter .selectFilter{
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.Search > .container .filter .selectFilter select{
    padding: 0 0.5em;
    height: 2em;
    background-color: rgba(255,255,255,0.9);
}


@media screen and (max-width: 1000px) {
    .Search > .container{
       flex-direction: column;

       padding-bottom: 2em;
       border-bottom: 1px solid var(--mainColor);
    }

    .Search > .container form{
        width: 100%;
    }

    .Search > .container .filter{
        width: fit-content;
    }
}

@media screen and (max-width: 764px) {
    .Search > .container .filter{
        flex-wrap: wrap;
        justify-content: center;
        padding: 2em 1em;
    }
}