@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

.container{
  width: 96%;
  max-width: 1440px;
  margin: 0 auto;
}

:root{
 --backgroundColor: rgb(255,255,255);
 --mainColor: #D4D7DE;
 --mainColor2: rgb(230,230,230);
 --textColor: rgb(34, 32, 32);
 --textColor2: #141414;
 --cardBackgroundColor: rgb(255,255,255);
 --headerBorder: #00000040;
}

.darkMode{
  --backgroundColor: black;
  --mainColor: #1F1F1F;
  --mainColor2: #121212;
  --textColor: rgb(255,255,255);
  --textColor2: #b3b3b3;
  --cardBackgroundColor: #121212;
  --headerBorder: #d3c5c540;
}

body{
  background-color: var(--backgroundColor);
}

h1, h2, h3, h4, p, a, span{
  color: var(--textColor);
}

/* ScrollBar Personalizada */

*::-webkit-scrollbar {
  width: 4px !important; /* largura da scroll bar */
}

*::-webkit-scrollbar-track {
  /* background-color: var(--scrollBarCorDeFundo); */
  background-color: transparent; /* cor de fundo da scroll bar */
}

*::-webkit-scrollbar-thumb {
  /* background-color: var(--cor-principal); */
  background-color: gray;
  border-radius: 20px;
  /* border: 3px solid var(--scrollBarCorDeFundo); */
  /* border: 3px solid green; */
}